.login-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: url('../assets/backgrounds/login-background.png') center/cover no-repeat;
}

.login-box {
    width: 100%;
    max-width: 420px;
    padding: 48px 40px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 23px;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.login-title {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    margin: 0 0 8px 0;
    text-align: center;
}

.login-subtitle {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 32px 0;
    text-align: center;
}

.google-login-button {
    width: 100%;
    padding: 14px 20px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 24px;
    transition: background-color 0.3s ease;
}

.google-login-button:hover {
    background: rgba(255, 255, 255, 1);
    background-color: rgba(74, 74, 74, 0.495)

}
.google-icon {
    width: 24px;
    height: 24px;
}